[Unit]
Description=Minecraft Server
After=default.target

[Service]
WorkingDirectory=<PATH>
ExecStart=<PATH>/start.sh
Restart=always
User=root
Group=root
Type=simple

[Install]
WantedBy=multi-user.target