[Unit]
Description=Minecraft Server
After=default.target

[Service]
WorkingDirectory=<PATH>
ExecStart=<PATH>/start.sh <PATH>/paper.jar
Restart=always
User=minecraft
Group=minecraft
Type=simple

[Install]
WantedBy=multi-user.target
